<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="dbConnectionString" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=gestionrayyles;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover = False"
   providerName="System.Data.SqlClient" />
  <add name="GestionDesRallyesConnectionString" connectionString="Data Source=DESKTOP-S282ML8\SQLEXPRESS;Initial Catalog=GestionDesRallyes;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="gestionrayylesConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=gestionrayyles;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
</configuration>
